* {
  font: normal 18pt "Comic Sans MS" !important;
}

body, head {
  overflow: hidden;
  margin: 0 0;
}

.row-flex-container {
  display: flex;
  flex-direction: row;
}

.column-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-container {
  width: 100vw;
  height:100vh;
  overflow: hidden;
  padding: 1vw 1vh;

  background-image: url('media/background_1.jpg');
  background-size: 100vw 100vh;
}

#input, #output {
  width: 80vw;
  height: 40vh;
  margin-left: 1vw;
  resize: none;
}

#input {
  margin-bottom: 2.5vh;
}

#output {
  margin-top: 2.5vh;
}

#settings > button {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 14vw;
}